<div class="chat_top">
  <div class="left_box">
    <div class="chat_name">
      Women Singer
    </div>
  </div>
  <div class="right_box">
    <div class="exit_chat">
      <a href="">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat_messages">
  <div class="messages">
    <div class="writer_info">
      <div class="writer">
        YUI
      </div>
      <div class="written_date">
        2021/05/21(Fri) 23:00:00
      </div>
    </div>
    <div class="comments">
      朝のホームで電話もしてみた
    </div>
  </div>

  <div class="messages">
    <div class="writer_info">
      <div class="writer">
        YUI
      </div>
      <div class="written_date">
        2021/05/21(Fri) 23:00:20
      </div>
    </div>
    <div class="comments">
      でもなんか違う気がした
    </div>
  </div>
</div>
<div class="chat_bottom">
  <div class="form">
    <input type="text" placeholder="type a message" class="type_box">
    <label class="image">
      <span class="image_file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="submit_btn">
</div>