<div class="side_top">
  <div class="user_name">
    <a href="">YUI</a>
  </div>
  <div class="create_chat">
    <a href="">チャットを作成する</a>
  </div>
</div>
<div class="chat_room">
  <div class="room_name">
    <div class="room">
      <a href="">Tokyo</a>
    </div>
  </div>
  <div class="room_name">
    <div class="room">
      <a href="">Good-bye days</a>
    </div>
  </div>
</div>