<div class="side_top">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user.id) %>
  </div>
  <div class="create_chat">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="chat_room">
  <% current_user.rooms.each do |room| %>
    <div class="room_name">
      <div class="room">
        <a href=""><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>